<div class="container-fluid" style=" background: linear-gradient(45deg, hsla(181, 76%, 76%, 0.581) 0%, hsla(41, 88%, 50%, 0.4) 72%)">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">


            <h1 class="text-center text-dark p-2 mt-6">Carga de Productos</h1>

             <form action="/produc/alta" method="post" enctype="multipart/form-data">
                <div class="form-group my-3">
                    <label for="formGroupExampleInput">Producto</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese nombre de producto" name="nombre">
                </div>
                <div class="form-group my-3">
                    <label for="formGroupExampleInput2">Descripción</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese la descripción del producto" name="descripcion">
                </div>
                <div class="form-group my-3">
                    <label for="formGroupExampleInput3">Cantidad Disponible</label>
                    <input type="number" class="form-control" id="formGroupExampleInput3" placeholder="Ingrese la cantidad en stock" name="cant_disponible">
                </div>
                <div class="form-group my-3">
                    <label for="formGroupExampleInput4">Precio</label>
                    <input type="number" class="form-control" id="formGroupExampleInput4" placeholder="Ingrese el precio del producto" name="precio">
                </div>
                <div class="form-group my-3">
                    <label for="exampleFormControlFile1">Imagen</label>
                    <input type="file" class="form-control" id="exampleFormControlFile1" name="imagen"> 
                </div>

  
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-secondary btn-block mt-5">Agregar</button>
                    <a href="/produc/listado" class="btn btn-secondary btn-block mt-4">Retornar</a>
                </div>
            </form>   
        </div>
    </div>
</div>