<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/acerca">Acerca de</a>
            <a href="/produc">Productos</a>
            <a href="/contactos"> Contactos </a>
            <a href="/produc/listado"> Administrador </a>
        </nav>
		<img src="../images/icono.jpeg" class="logo">      
        <section class="textos-header">
            <h1>Herreria y Macramé</h1>
            <h2>Diseños 100% hechos a mano</h2>
        </section>
    </header>
    <section class="formulario">
    <div class="contacto">
      <span>  
      <img src="../images/correo.png" class="mensaje"> 
      <h2>Contame tu idea y la hacemos realidad!</h2>
      </span>
    </div>
      <form action="" class="contact" method="POST">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre">

      <label for="correo">Correo</label>
      <input type="text" name="correo" id="correo">

      <label for="telefono">Celular</label>
      <input type="text" name="celular" id="celular">

      <label for="mensaje">Mensaje</label>
      <textarea name="mensaje" id="mensaje"></textarea>
      <input type="submit" value="Enviar">
    </form>
  </section>
  <section class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=3436117314" class="btn-wsp" target="_blak"> <img src="../images/Whatsappcolor.png"> </a>

  </section>
</body>